
body {
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background-color: #000000;
    color: #ffffff;
}
html, body {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

main {
    text-align: center;
    padding: 0.5em;
    margin: 0 auto;
}

cite {
    background-color: #000000;
    padding: 2px;
    font-style: normal;
    border-radius: 5px;
}

.main-header h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
    margin: 0;
}

nav {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0.5rem 0 0 0;
}

nav ul {
    background-color: #ff3e00;
    display: flex;
    justify-content: center;
    margin: 0 0 1.5rem 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    padding: 0.5rem 0.5rem;
}
nav ul li a {
    color: #FFFFFF;
}

footer a{
    color: #00d9ff;
}

.demos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.demos .demo-list {
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #323030;
    width: 330px;
    min-height: 200px;
    padding: 0.5rem;
    margin: 0.5rem;
    flex-direction: column;
    background-color: #323030;
    border-radius: 10px;
    transition: all 0.5s linear 0s;
}

.demos .demo-list h3 {
    font-size: 1.5rem;
}

.demos .demo-list li {
    padding: 0.5rem;
}

.demos .demo-list li a {
    color: #ff3e00;
    font-size: 1.2rem;
    margin: 2px;
    text-decoration: none;
    background-color: #2c2424;
    padding: 2px;
    border-radius: 5px;
}

.demos .demo-list li.state-style a:link {
    color: #ff3e00;
}

.demos .demo-list li.state-style a:visited {
    color: #51ff00;
}

.demos .demo-list li.state-style a:hover {
    color: #ffee00;
}

.demos .demo-list li.state-style a:active {
    color: #d900ff;
}

.demos .demo-list p {
    width: 250px;
}

.child-frame {
    padding: 0.5rem;
    background-color: #FFF;
    color: #000;
}

.grand-child-frame {
    padding: 0.5rem;
    background-color: #524b4b;
    width: 220px;
}

.grand-child-frame a {
    color: orange
}